.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.animated-title {
  font-size: 3em;
  animation: pulse 2s infinite, colorfade 6s infinite;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Playwrite Argentina', sans-serif; 
}

.input-container {
  position: absolute;
  left: 20px;
  top: 40%; /* Adjust as needed */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px; /* Spacing between elements */
}

.email-label,
.weight-label,
.height-label {
  font-size: 1.2em;
  font-weight: bold;
}

.email-input {
  font-size: 1.2em;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid green;
  width: 300px;
}

.weight-combobox,
.height-combobox {
  font-size: 1.2em;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid green;
  width: 110px;
}

.email-input {
  margin-bottom: 10px; /* Space below the email input */
}

.light-mode .email-input,
.light-mode .weight-combobox,
.light-mode .height-combobox {
  background-color: white;
  color: black;
}

.dark-mode .email-input,
.dark-mode .weight-combobox,
.dark-mode .height-combobox {
  background-color: #444;
  color: white;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #282c34;
  color: white;
}

.switch-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.mode-label {
  font-size: 16px;
  color: inherit;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorfade {
  0% {
    color: #00ff00;
  }
  33% {
    color: #66ff66;
  }
  66% {
    color: #009900;
  }
  100% {
    color: #00ff00;
  }
}
